# 数据预处理
## 读取数据集

In [10]:
import os
import pandas as pd
import torch

创建数据集

In [6]:
os.makedirs(os.path.join('.', 'data'), exist_ok=True)
data_file = os.path.join('.', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n')  # 列名
    f.write('NA,Pave,127500\n')  # 每行表示一个数据样本
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000')

读取数据集

In [8]:
data  = pd.read_csv(data_file)
print(data)

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

## 缺失值处理
方法1：删除法
方法2：插值法

插值法的处理方式：通过位置索引iloc，将data分成inputs和outputs，对于inputs中缺失的值，用同一列的均值替换。
对于对于像ouputs中的缺失值，转换为"Alley_Pave"列和"Alley_nan"并将其分别设置为1和0。

In [13]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]
print(outputs)
inputs = inputs.fillna(inputs.mean())
inputs = pd.get_dummies(inputs, dummy_na=True)
print(inputs)

0    127500
1    106000
2    178100
3    140000
Name: Price, dtype: int64
   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

## 张量格式转换
inputs和outputs的值都是数值类型，可以转换为张量格式。

In [11]:
x = torch.tensor(inputs.to_numpy(dtype=float))
y = torch.tensor(outputs.to_numpy(dtype=float))
x, y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500., 106000., 178100., 140000.], dtype=torch.float64))